[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
prometheus-client = "==0.8.0"
logstash-formatter = "==0.5.17"
aiokafka = "==0.5.2"
kafkahelpers = "==0.3.3"
sqlalchemy = "==1.3.19"
werkzeug = "==1.0.1"
connexion = {extras = ["swagger-ui"],version = "==2.7.0"}
gino = "==1.0.1"
alembic = "==1.4.3"
aiohttp = "==3.6.2"
aiohttp-jinja2 = "==1.2.0"
psycopg2-binary = "==2.8.6"
asyncpg = "==0.21.0"

[dev-packages]
pytest = "==6.0.2"
pytest-asyncio = "==0.14.0"
coverage = "==5.3"
flake8 = "==3.8.3"
pytest-mock = "==3.3.1"
pytest-cov = "==2.10.1"
flake8-junit-report = "==2.1.0"
confluent-kafka = "==1.5.0"

[requires]
python_version = "3.6"

[scripts]
server = "python app.py"
migrate = "alembic upgrade head"
tests = "pipenv run python -m pytest --log-cli-level=debug --junitxml=junit.xml --cov-config=.coveragerc --cov=. --cov-report html tests/ -s -v"
linter = "flake8 . --tee --output-file lint-results.txt"
