[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
prometheus-client = "*"
logstash-formatter = "*"
aiokafka = "*"
kafkahelpers = "*"
sqlalchemy = "*"
pip = "*"
werkzeug = "*"
connexion = {extras = ["swagger-ui"],version = "*"}
"psycopg2" = "*"
gino = "*"
alembic = "*"
aiohttp = "*"
aiohttp-jinja2 = "*"

[dev-packages]
pytest = "*"
coverage = "*"
flake8 = "*"
pytest-mock = "*"
pytest-cov = "*"
flake8-junit-report = "*"
confluent-kafka = "*"

[requires]
python_version = "3.6"

[scripts]
server = "python app.py"
migrate = "alembic upgrade head"
