[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
prometheus-client = "*"
logstash-formatter = "*"
aiokafka = "==0.5.2"
kafkahelpers = "*"
sqlalchemy = "*"
werkzeug = "*"
connexion = {extras = ["swagger-ui"],version = "*"}
gino = "*"
alembic = "*"
aiohttp = "*"
aiohttp-jinja2 = "*"
python-socketio = "*"
psycopg2-binary = "*"
asyncpg = "*"

[dev-packages]
pytest = "*"
pytest-asyncio = "*"
coverage = "*"
flake8 = "*"
pytest-mock = "*"
pytest-cov = "*"
flake8-junit-report = "*"
confluent-kafka = "*"

[requires]
python_version = "3.6"

[scripts]
server = "python app.py"
migrate = "alembic upgrade head"
tests = "pipenv run python -m pytest --log-cli-level=debug --junitxml=junit.xml --cov-config=.coveragerc --cov=. --cov-report html tests/ -s -v"
linter = "flake8 . --tee --output-file lint-results.txt"
